$color-primary-dark:#19B89C;
$color-primary:#8CDBCD;
$color-primary-light:#C5EDE6;

$color-accent-dark:#238FCC;
$color-accent:#238FCC;
$color-accent-light:#238FCC;


$color-semantic-yellow:#FFE28D;
$size-of-a-triangle: 4.4rem;

$footer-background-color:#FFE28D;
$footer-padding: 3rem 3rem 6rem;
